// Body font
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

// // Title font
// @font-face {
//   font-family: 'Neue Kabel';
//   src: url('../assets/fonts/NeueKabel/NeueKabel-Light.otf') format('opentype');
//   font-weight: 300;
// }

// @font-face {
//   font-family: 'Neue Kabel';
//   src: url('../assets/fonts/NeueKabel/NeueKabel-Medium.otf') format('opentype');
//   font-weight: 500;
// }

// @font-face {
//   font-family: 'Neue Kabel';
//   src: url('../assets/fonts/NeueKabel/NeueKabel-Bold.otf') format('opentype');
//   font-weight: 700;
// }

// @font-face {
//   font-family: 'Neue Kabel';
//   src: url('../assets/fonts/NeueKabel/NeueKabel-ExtraBold.otf') format('opentype');
//   font-weight: 900;
// }
// Body font

@font-face {
  font-family: 'League Spartan';
  src: url('../assets/fonts/league-spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/playfair-display/PlayfairDisplay-Regular.ttf') format('truetype');
}

// Title font
@font-face {
  font-family: 'League Spartan';
  src: url('../assets/fonts/league-spartan/static/LeagueSpartan-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'League Spartan';
  src: url('../assets/fonts/league-spartan/static/LeagueSpartan-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'League Spartan';
  src: url('../assets/fonts/league-spartan/static/LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'League Spartan';
  src: url('../assets/fonts/league-spartan/static/LeagueSpartan-ExtraBold.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/playfair-display/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/playfair-display/PlayfairDisplay-Black.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/playfair-display/PlayfairDisplay-Italic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}